body{
    height: 100vh;
    margin: unset;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
}

.navbar a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: medium;
    color: black;
}
 
.navbar a:hover,
.navbar a:active{
    text-decoration: underline;
}

#user-icon{
    background: purple;
    border-radius: 12px;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
}