html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
    margin: unset;
    font-family: arial,sans-serif;
    color: grey;
}

a,
a:visited{
    color: grey !important;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.navbar a{
    text-decoration: none;
    margin-right: 1rem;
}
 
.navbar a:hover,
.navbar a:active{
    text-decoration: underline;
}

#user-icon{
    background: red;
    border-radius: 13px;
    color: white;
    width: 19px;
    height: 19px;
    padding: 3px;
    text-align: center;
}

.button{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.button-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-line__square{
    background:#ccc;
    border-radius: 13px;
    width: 6px;
    height: 6px;
    margin-right: 1px;
    margin-top: 1px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.search-input{
    min-width: 54vw;
    border: 1px solid rgb(226, 224, 224);
    border-radius: 16px;
    margin: 1rem auto;
    padding: 8px 8px 8px 36px;
}

.buttons-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.search-button{
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    padding: 7px 13px;
    margin-right: 6px;
}

.search-button:hover,
.search-button:active{
    border-color: #ccc;
    box-shadow: 0 0.5px #ccc;
}

footer{
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.links{
    padding: 5px 21px;
}

.links a{
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid #f2f2f2;
}

#settings{
    margin-right:0;
}

.search-file{
    position: relative;
}

.image-container{
    width: 17px;
    height: 17px;
    border-radius: 8px;
    position: absolute;
    top: 37%;
}

.image-container__microphone{
    right: 3%;
}

.image-container__magnifier{
    left: 3%;
    opacity: 0.6;
}

.search-icon__magnifier,
.search-icon__microphone{
    width: 100%;
}


@media(min-width: 40rem){
    .links{
        padding: 5px 2rem;
    }
    .links a{
        margin-right: 28px;
    }
    .search-input{
        min-width: 30vw;
}